<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipbeja.easymed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDM">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api" />

        <activity android:name=".Activities.ResetPasswordActivity" />
        <activity android:name=".Activities.ReminderActivity" />
        <activity android:name=".Activities.AddReminderActivity" />
        <activity android:name=".Activities.PharmacyActivity" />
        <activity android:name=".Activities.HospitalActivity" />
        <activity android:name=".Activities.DoctorsActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.Popout.PopupDoctors" />
        <activity android:name=".Activities.Popout.PopupMeds" />

        <activity android:name=".Launcher.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Activities.AlarmPort.Database.AlarmProvider"
            android:authorities="com.ipbeja.easymed.provider"
            android:exported="false" />

        <service
            android:name=".Activities.AlarmPort.Services.AlarmService"
            android:exported="false" />

    </application>

</manifest>