<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipbeja.easymed">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDM">
        <activity android:name="com.ipbeja.easymed.reminderActivity" />
        <activity android:name="com.ipbeja.easymed.pharmacyLayout" />
        <activity android:name="com.ipbeja.easymed.hospitalLayout" />
        <activity android:name="com.ipbeja.easymed.doctorsLayout" />
        <activity android:name="com.ipbeja.easymed.MainActivity" />
        <activity android:name="com.ipbeja.easymed.loginActivity"/>
        <activity android:name="com.ipbeja.easymed.registerActivity"/>
        <activity android:name="com.ipbeja.easymed.profileActivity"/>
        <activity android:name="com.ipbeja.easymed.splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>